<a href="#" class="" data-toggle="modal" data-target="#profile_picture"><i>Update Profile Picture</i></a>
<div class="modal" id="profile_picture">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_for @artist, url: registration_path(@artist), html: { method: :put } do |f| %>
          <%= f.file_field :profile_picture, class: "mt-2"%><br />
          <%= f.password_field :current_password, autocomplete: "current-password",placeholder: " Current Password", class: "my-2"%><br />
          <%= f.submit %><br />
          <div class="modal-footer mx-2">
            <%= f.submit "Update Profile Picture",class:"w-100" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
