<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Our Logo</a>
  <form class="form-inline">
    <% if artist_signed_in? %>
      welcome<strong><%= current_artist.name %></strong>.
      <%= link_to 'Edit profile', edit_artist_registration_path, :class => 'btn btn-outline-primary' %> |
      <div style="padding-left: 10px;">
      <%= link_to "Logout", destroy_artist_session_path, method: :delete, :class => 'btn btn-outline-primary'  %>
      </div>
    <% else %>
      <%= link_to "Sign up", new_artist_registration_path, :class => 'btn btn-outline-primary'  %> |
      <%= link_to "Login", new_artist_session_path, :class => 'btn btn-outline-primary'  %>
    <% end %>
  </form>
</nav>

<% @artists.each do |artist| %>
   <%= link_to "#{artist.name}", artist_path(artist) %>
<% end%>
