<%= render partial: "new" %>

<nav class="navbar navbar-light bg-light nav-bottom">
  <a class="navbar-brand" href="/">LOGO</a>
  <form class="form-inline">
    <% if artist_signed_in? %>
      Welcome<strong><%= current_artist.name %></strong>
      &nbsp;|&nbsp;
      <i><u><%= link_to "Log out", destroy_artist_session_path, method: :delete%></u></i>
    <% else %>
      <u><i><%= link_to "Sign in", new_artist_session_path, id:"sign_up", "data-target"=>"sign_up", "data-toggle"=>"modal"%></i></u>
    <% end %>
  </form>
</nav>
<br>
<div class="row mx-2">
  <% @artists.each_with_index do |artist,index| %>
    <% if(index % 4) == 0 %>
      <div class="clearfix"></div>
      <div class="col-sm-3 col-md-3 image-container">
        <%= image_tag artist.profile_picture_url, class: "detailimage" %>
        <p class="artistnamelink">
          <u><%= link_to "#{artist.name}", artist_path(artist) %></u>
        </p>
      </div>
    <% else %>
      <div class="col-sm-3 col-md-3 image-container">
        <%= link_to image_tag artist.profile_picture_url, class: "detailimage" %>
        <p class="artistnamelink">
        <u><%= link_to "#{artist.name}", artist_path(artist) %></u>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
