<%= render partial: "nav" %>
<br>
<div class="row mx-1">
  <div class="col-md-3">
    <%= image_tag @artist.profile_picture_url, class: "profileimage" %>
  </div>
  <div clas ="col-md-9">
    <div class="row">
      <div class="col-6">
        <h2><%= @artist.name %></h2>
        <h6><%= "#{@artist.city}, #{@artist.country}" %></h6>
      </div>
      <div class="col-6"><u><i><%= link_to 'Edit profile', edit_artist_registration_path, :class => 'pull-right' %></i></u></div>
    </div>
    <% unless @artist.about.nil? %>
      <p><%= @artist.about[0..50] %></p>
    <% end %>  
    <p class="pull-right">
      <%= "#{@artist.email} | #{@artist.phone}"%>
    </p>
  </div>
</div>
<div class ="clearfix"></div>

<div class="row mx-1">
  <div class="col-md-3">
    <%= render partial: "profile_picture_form" %>
  </div>
  <div class="col-md-9">
  </div>
</div>
<div class ="clearfix"></div>

<hr class="profile-break">

<%= render partial: "add_painting" %>

<div class="row mx-1">
  <% @paintings.each_with_index do |painting,index| %>
    <% if(index % 4) == 0 %>
      <div class="clearfix"></div>
      <div class="col-sm-3 col-md-3 image-container">
        <%= image_tag painting.picture_url, class: "detailimage" %>
        <p class="artistnamelink">
          <u><%= link_to "Painting_#{index}", "" %></u>
        </p>
      </div>
    <% else %>
      <div class="col-sm-3 col-md-3 image-container">
        <%= link_to image_tag painting.picture_url, class: "detailimage"%>
        <p class="artistnamelink">
          <u><%= link_to "Painting_#{index}", "" %></u>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
